*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body{
  background-color: #156B82;
}

html{
  position: relative;
}

body, button, h1,h2,h3,h4,h5,a, .modal-title, #login-form,#signup-form{
  /*font-family: 'Helvetica Neue', arial, sans-serif;*/
  font-family: 'Righteous', cursive;
  font-size: 1.1em; 
  color: #ddd !important;
}
input, select, label, textarea,p, .filter, .mix, .sideMenuWrapper,#login-form,#signup-form{
  font-family: 'Signika', sans-serif;
}

.container {
  margin: 0 auto;

}

.jumbotron{
    background-color: blue;
    opacity: .5;
}

