<!DOCTYPE html>
<html lang="en">
    <head>

        <title>Paola Socorro's single page resume </title>

        <link href="/css/bootstrap-select.min.css" rel="stylesheet" />
        <link href="/css/styles.css" rel="stylesheet" />
    </head>
    <body>


    <div class="jumbotron">
      <div class="container">
        <h3> HELLO </h3>
        
      </div>
    </div> <!-- ./endofJUMBOTRON -->

    </body>

  <script src="js/bootstrap-select.min.js"></script>
  <script src="js/script.js"></script>



</html>